﻿.separ-topo2 {width:100%; height:124px; float:left; }
.banner-cliente {background-image:url(../img/cdst.jpg); width:970px; height:290px; float:left; background-color:#CCC;}
.box-info-anunc {width:950px; height:170px; float:left; background-color:#CCC; margin-left:10px; margin-top:-50px; }
.box-info-anunc-dent {width:948px; height:168px; float:left; background-image:url(../img/bg-bxsid-ann.png); margin-left:1px; margin-top:1px; }

.sidebar-anunc {width:100%; height:49px; float:left; background-image:url(../img/ssd3.png);}
.mold-photo-ann {width:153px; height:200px; float:left; margin-left:10px; margin-top:-100px;}
.moldur-fot {width:153px; height:153px; float:left; background-color:#FFF; border-width:4px; border-style:solid; border-color:#CCC;}
.name-lcal {min-width:200px; height:35px; float:left; margin-left:175px;}
.name-lcal p {color:#FFF; font-size:20pt; font-family:Arial, Helvetica, sans-serif; margin-top:5px; float:left;}
.lcl-lcal {min-width:150px; height:35px;  float:left; margin-left:5px;}
.lcl-lcal p {color:#FFF; font-size:11pt; font-family:Arial, Helvetica, sans-serif;  margin-top:18px; margin-left:5px; float:left;}
.line-design01 {width:100%; height:2px; float:left; background-color:#FC0; margin-top:3px;}
.icn-loc-sid {width:15px; height:15px; float:left; background-image:url(../img/jg2.png); margin-top:20px;}
.curtir-bx  {width:400px; height:40px; float:right; margin-top:5px; }
.curtir-bx  {width:120px; height:40px; float:right;   }
.strlas {width:130px; height:48px; float:right;  margin-top:-55px; }
.icnstars {width:100%; height:20px; float:left; }
.icnstars p {color:#FFF; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.strs0 {width:20px; height:20px; float:left; margin-left:5px; }
.info-oferta {width:450px; height:100px; float:left; margin-top:10px; margin-left:10px;}
.bx-inf-ofert {width:100%; height:15px; float:left; }
.bx-inf-ofert p {color:#999; font-family: 'Open Sans', sans-serif; font-size:12px;}
.ic-ofr {width:15px; height:15px; float:left; }

.box-do-telefone {width:299px; height:56px; margin-right:-13px; float:right; background-image:url(../img/sgd.png); margin-top:50px;}
.tel-dent {width:100%; height:25px; float:left; margin-top:25px;}















body{margin-top:20px;background:#5a5a5a}
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}

.box-contedo-estica {width:970px;; min-height:100px; float:left; background-color:#FFF;}
.box-esq-estc {width:650px; min-height:350px; float:left; background-color:#C30; margin-left:10px; margin-top:10px;}

.box-dir-estc {width:287px; min-height:350px; float:right; background-color:#063; margin-right:10px; margin-top:10px;}
