﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.head-tp {width:100%; height:72px; float:left; background-image:url(../img/ssd.png); position:fixed; z-index:10000;}
.amaread {width:970px; height:72px; margin:auto; }
.separ-topo {width:100%; height:72px; float:left;}
.ban-state {width:100%; height:262px; float:left; margin-top:1px;}
.amarra-conteudo-cima {width:970px; min-height:400px; float:left; background-color:#FFF;}
.amarra-conteudo-cima-dt {width:950px; min-height:400px; float:left; background-color:#FFF; margin-left:10px; margin-top:-50px;}
.patrocine {width:214px; height:89px; float:left; background-image:url(../img/dst.jpg); margin-left:5px; margin-top:5px;}


.menutest {width:100%; min-height:30px; float:left; background-color:#FFF;}
.icn-ctg {width:30px; height:30px; float:left; background-image:url(../img/ctg.png); margin-top:10px;}

.icon-typecatego {width:20px; height:15px; float:left; margin-top:3px; }
.btdsc {width:16px; height:16px; background-image:url(../img/ja.png); float:right;}
.btdsc3 {width:16px; height:16px; background-image:url(../img/ja3.png); float:right;}
.btdsc2 {width:16px; height:16px; background-image:url(../img/ja2.png); float:right;}
.bar-esq {width:220px; min-height:400px; float:left; }
.barra-meio {width:550px; min-height:400px; float:left; margin-left:10px;}
.barra-ads-dir {width:160px; min-height:600px; float:right; margin-right:1px;  }

.box-anncio {width:542px; min-height:139px; background-color:#CCC; float:left; margin-left:3px;}
.box-anncio-dentro {width:540px; min-height:137px; background-color:#FFF; margin-left:1px; margin-top:1px; float:left;}
.div-ft {width:140px; height:137px; background-color:#EFEFEF; float:left;}
.box-div-ft {width:110px; height:110px; float:left; background-color:#FFF; margin-top:8px; margin-left:14px; }
.box-div-ft-dentro {width:94px; height:94px; float:left; background-image:url(../img/fta.jpg); margin-left:8px; margin-top:8px;}
.box-infoann {width:280px; height:122px; float:left; margin-left:5px; margin-top:3px;}
.tex-anuncio {width:100%; height:70px; float:left;}
.tex-anuncio p {color:#999; font-family:'Open Sans', 'sans-serif'; font-size:11px; margin:5px; text-align:justify;}
.end-anc {width:100%; height:30px; float:left; margin-top:3px;}
.end-anc p {color:#999; font-family:Tahoma, Geneva, sans-serif; font-size:10px; margin:5px;  margin-top:1px; }
.phone {min-width:200px; height:23px; float:right; background-color:#09C;}
.phone p {color:#FFF; font-family:'Open Sans', 'sans-serif'; font-size:15px; margin-left:15px;  }
.separa-anc {width:100%; height:1px; float:left; background-color:#E8E8E8; margin-top:1px;}
.sep-an-vtc {width:1px; height:120px; float:left; background-color:#E8E8E8; margin-left:3px; margin-top:10px; }
.patroc-ic {width:100px; height:28px; float:right; margin-top:3px; margin-right:-7px; }
.preco-bs {width:100px; height:45px; background-color:#E8E8E8; float:left; margin-top:5px; margin-left:5px;}
.div-nmpreco {width:100%; height:15px; float:left; background-color:#096;}
.div-nmpreco p {color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:10px; text-align:center; }
.str-annc {width:100px; height:15px; float:left; margin-left:5px; margin-top:5px; }
.phicon {width:15px; height:15px; float:left; background-image:url(../img/phn.png); margin-left:4px; margin-top:4px;}
.strava {width:15px; height:15px; float:left; margin-left:4px; background-repeat:no-repeat;}
.bx-favo-msg {width:100px; height:25px; float:left; background-color:#CCC; margin-left:5px; margin-top:5px;}
.favo {width:48px; height:23px; float:left; background-image:url(../img/favo.gif); margin-top:1px; margin-left:1px;}
.msgg {width:49px; height:23px; float:left; background-image:url(../img/mgs.gif); margin-top:1px; margin-left:1px;}

.seachbar {min-width:199px; height:40px; float:right; margin-right:-10px; margin-top:5px; }


        #search input {
	background: none repeat scroll 0 0 #fff;
	border: 0 none;
	color: #CCC;
	float: left;
	font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;
	height: 40px;
	margin: 0;
	padding: 10px;
	transition: background 0.3s ease-in-out 0s;
	width: 200px;
}

#search button {
	background: url("../img/sea.png") no-repeat scroll center center #F90;
	cursor: pointer;
	height: 40px;
	text-indent: -99999em;
	transition: background 0.3s ease-in-out 0s;
	width: 40px;
	border: 2px solid #fff;
}

#search button:hover {
	background-color:#093;
}


.tstt {width:20px; height:20px; float:left; }