﻿
.box-filtro {width:850px; height:250px; margin:auto; background-image:url(../img/bga2.png); margin-top:90px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.bx-11 {width:100%; height:100px; float:left;  margin-top:5px;}
.name-filtr {width:100%; height:35px; float:left; background-color:#39C; }
.icon-lcl {width:30px; height:30px; float:left; background-image:url(../img/cnh.png); background-repeat:no-repeat; margin-left:305px; margin-top:5px;}
.bxss {width:100px; height:100px; float:left; margin-left:55px;}
.name-bx11 {width:100%; min-height:15px; float:left; margin-top:55px; }









































