﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Exo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {  padding:0px; margin:0px;  background-image:url(../img/bg-top.png); background-repeat:repeat-x; background-color:#f4f2f2; }

.site {width:970px; min-height:700px; background-color:#FFF; margin:auto; }
.header-top {width:100%; height:72px; float:left; background-image:url(../img/bg-top.png);}
.logotype {width:200px; height:65px; background-image:url(../img/logo-info.png); background-repeat:no-repeat; float:left; margin-top:4px; margin-left:20px;}
.menu-head-right {width:210px; height:25px; float:right; margin-top:23px; margin-right:5px;};
.icon-bnc {width:11px; height:15px; background-image:url(../img/bnc.png); float:left; margin-top:4px;}
.loginmenu {min-width:70px; height:20px; float:left; margin-left:5px;}
.loginmenu p {color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.loginmenu p a { text-decoration:none; color:#FFF;}
.loginmenu p a:hover { text-decoration:underline;}
.menu-cadast {width:120px; height:25px; background-image:url(../img/bgh.png); float:right; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.menu-cadast p {color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.menu-cadast p a { text-decoration:none; color:#FFF;}
.menu-cadast p a:hover { text-decoration:underline; }

.sidebar-1 {width:100%; height:40px; float:left; background-image:url(../img/bga.png); position:relative; z-index:10000;}
.img-state {width:100%; height:400px; float:left; background-image:url(../img/img-state.jpg);margin-top:-40px;}
.sid-baixo {width:100%; height:50px; float:left; background-color:#F90;}
.name-melhr {width:350px; height:30px; float:left; background-image:url(../img/nha.png); margin-top:10px; margin-left:50px; }
.vercupp2 {width:48px; height:36px; float:left; background-color:#2d6c9c; background-image:url(../img/set.png);}

.vercupp p {font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;}
.vercupp p a { text-decoration:none; color:#FFF;}
.vercupp p a:hover { text-decoration:underline;}

.facebook {background-image:url(../img/fac.png);}
.google {background-image:url(../img/gm.png); margin-right:5px;}
.youtube {background-image:url(../img/yol.png); margin-right:5px;}
.instagram {background-image:url(../img/inst.png); margin-right:5px;}
.conteudo {width:970px; min-height:700px; background-color:#FFF; float:left;}
.empurra {width:970px; min-height:20px; margin:auto;}

.rodape { width:100%; height:153px; background-image:url(../img/bgrodape.png); background-repeat:repeat-x; float:left;}

.center-rodape {width:970px; min-height:150px; margin:auto;}
.log-rodape {width:190px; height:130px; float:left; background-color:#FFF; float:left;}
.lgrodape {width:161px; height:57px; float:left; background-image:url(../img/info-rod.png); float:left; margin-left:15px; margin-top:35px;}

.links-rodape {width:200px; height:130px; float:left; margin-left:30px;}
.linkrdp {min-width:200px; height:15px; float:left; margin-top:15px;}

.box-coment-rodape {width:282px; height:120px; float:right; background-image:url(../img/ght.png);  margin-top:17px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; margin-right:10px;}
.fto {width:65px; height:65px; float:left; background-color:#FFF; margin-top:20px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-left:20px;}
.fto-dentro {width:55px; height:55px; float:left; margin-top:5px;  margin-left:5px;}
.coment-rdp {width:150px; height:50px; float:right;  margin-right:15px; margin-top:20px;}
.name-post {width:110px; height:20px; float:right;  margin-right:50px;}
.icon-sociais {width:100%; height:25px; float:left; margin-top:5px;}
.box-iconsocial {width:25px; height:25px; float:right; margin-right:10px; } 

.box-ofert {width:930px; min-height:366px; margin-left:20px; float:left; margin-top:20px; }
.bxofert1 {width:100%; height:35px; float:left; background-color:#CCC;}
.bxofert12 {width:100%; height:34px; float:left; background-color:#FFF;}

.boxxs {width:209px; min-height:285px; float:left; background-color:#E6E6E6; margin-top:20px; }
.img-bxxss {width:100%; height:144px; float:left; background-color:#FFF;}
.bxg-cont {width:207px; min-height:105px; float:left; background-color:#FFF; margin-left:1px;}
.ink-ofrt {width:100%; height:36px; float:left; background-color:#09F;}
.titul-ofer {width:100%; height:20px; float:left;  margin-top:10px; }
.titul-ofer2 {width:207px;  height:80px; float:left;    }
.vercupp {width:160px; height:36px; float:left; }

.dics {width:930px; min-height:366px; margin-left:20px; float:left; margin-top:10px; }
.prom {width:930px; min-height:90px; margin-left:20px; float:left;  }
.ads {width:728px; height:90px; float:left;  }
.apps {width:190px; height:90px; float:right; background-image:url(../img/apsf.jpg); }
.separ {width:930px; min-height:20px; margin-left:20px; float:left; }

.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
  width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}