body{
	font-family: Arial, Helvetica, Sans-Serif;
	color: #656565; font-size: 10pt; font-weight: normal;
	background: url(../img/bg_logistica.jpg);
}

.menu_esquerda{
	border: 1px solid #C3C3C3; border-radius: 4pt; 
	margin-top: 10px; margin-left: 10px; margin-right: 11px; text-align: center;
	padding-top: 10px; background: url(../img/branco_transparente.png);
}

.topo{ background: url(../img/pieces/bg_topo.png); height: 90px; min-width: 300px; }

.logo_helpdesk{ width: 360px; height: 90px; margin-left: -15px;}
.logo_logman{ width: 258px; height: 71px; margin-top: 10px; }

.conteudo{
	border: 1px solid #C3C3C3; border-radius: 4pt;
	background: #F9F9F9; margin-left: 11px; margin-top: 10px; margin-right: 10px;
}

.painel{ border: 1px solid green; border-radius: 10pt; text-align: right;}

input[type='text'],input[type='password'], input[type='email'], select, textarea{
	width: 250px; border-radius: 4pt; border: 1px solid #A0A0A0; padding-left: 10px; left: 400px; background: white;
}

label{ width: 180px; color: #92877C; vertical-align: top; }

form{
	width: 100%; border: 1px solid #D0D0D0; padding: 10px 10px 10px 10px; margin-top: 10px;
	border-radius: 5pt;
}

.distancia-superior{ margin-top: 60px; }

.contorno{ 
	border: 1px solid #CECECE; border-radius: 5pt; padding: 10px 10px 10px 10px; 
	background: url(../img/branco_transparente.png); margin-top: 5px;
}

.menu{
	border: 1px solid #CECECE; border-radius: 5pt; padding: 10px 10px 10px 10px; text-align: center;
	background: url(../img/branco_transparente.png); margin-top: 5px;
}

.btn-menu{ min-width: 200px; margin-top: 5px; }

.helptext{ font-size: 9pt; color: #AA6224; }

.errorlist{
	border: solid 1px white; border-radius: 5pt; background: #F0AD4E; color: #7B5C30; padding-top: 5px; padding-bottom: 5px;
}

.texto-busca{ width: 300px; }

.conteudo-expand{
	padding: 10px 10px 10px 10px;
}

.conteudo-direita{ text-align: right; height: 5px; position: absolute; width: 100%; background: red;}

.contorno-leve{ border: 1px #BDBDBD solid; margin-top: 3px; padding: 3px 3px 3px 3px; border-radius: 4pt; vertical-align: center; }