{% extends "base.html" %}
{% load staticfiles %}

{% block conteudo %}
	<div class="sidebar-1"> 
	</div>

	<div class="img-state"> 
	<div class="box-filtro">
		
		<div class="name-filtr"> 
		<div class="icon-lcl"> 
		</div> 
			<p style=" float:left; margin-top:2px; color:#FFF; font-family: 'Open Sans', sans-serif; font-size:16pt; margin-left:3px;"> #AquiVocêEncontra</p>
		</div>
		
		
		<div class="bx-11"> 
		
			<div style="background-image:url(static/img/categoria-filtro/shop.png);" class="bxss"> 
			
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Shops, Lojas e Compras" style="text-decoration:none; color:#666;" href="#"> Shops, Lojas &amp; Compras </a> </strong>
					</p> 
				</div>
			
			</div>

			<div style="background-image:url(static/img/categoria-filtro/res.png);" class="bxss"> 
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Restaurantes e Comedorias" style="text-decoration:none; color:#666;" href="#"> Restaurantes<br> &amp; Comedorias </a> </strong>
					</p> 
				
				</div>
			</div>

			<div style="background-image:url(static/img/categoria-filtro/bar.png);" class="bxss"> 
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Bares e Botecos" style="text-decoration:none; color:#666;" href="#"> Bares<br> &amp; Botecos </a> </strong>
					</p> 
				</div>
			</div>

			<div style="background-image:url(static/img/categoria-filtro/bel.png);" class="bxss"> 
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Beleza e Estética" style="text-decoration:none; color:#666;" href="#"> Beleza <br> &amp; Estética </a> </strong>
					</p> 
				</div>
			</div>

			<div style="background-image:url(static/img/categoria-filtro/fes.png);" class="bxss"> 
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Festas e Eventos" style="text-decoration:none; color:#666;" href="#"> Festas<br> &amp; Eventos </a> </strong>
					</p> 
				</div>
			</div>

		</div>
		
		<div style="margin-top:1px;" class="bx-11"> 
		
			<div style="background-image:url(static/img/categoria-filtro/serv.png);" class="bxss"> 
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Serviços em Geral" style="text-decoration:none; color:#666;" href="#"> Serviços em Geral </a> </strong>
					</p> 
				</div>
			</div>
			
			<div style="background-image:url(static/img/categoria-filtro/la.png);" class="bxss"> 
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Lazer e Diversão" style="text-decoration:none; color:#666;" href="#"> Lazer <br> &amp; Diversão </a> </strong>
					</p> 
				</div>
			</div>

			<div style="background-image:url(static/img/categoria-filtro/mal.png);" class="bxss"> 
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Hoteis e Viagens" style="text-decoration:none; color:#666;" href="#"> Hoteis <br> &amp; Viagem </a> </strong></p> 
				</div>
			</div>
			
			<div style="background-image:url(static/img/categoria-filtro/sau.png);" class="bxss"> 	
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Saúde e Bem-Estar" style="text-decoration:none; color:#666;" href="#"> Saúde <br> &amp; Bem-Estar </a> </strong>
					</p> 
				</div>
			</div>

			<div style="background-image:url(static/img/categoria-filtro/mas.png);" class="bxss"> 		
				<div class="name-bx11">
					<p style="font-family: 'Open Sans', sans-serif; margin-top:1px; text-align:center; font-size:12px; color:#666;"> <strong> 
						<a title="Ver todas as categorias" style="text-decoration:none; color:#666;" href="#"> Ver Todas as Categorias </a> </strong>
					</p> 
				</div>		
			</div>
		</div>

	</div>
	</div>
	
<div class="sid-baixo"> 
	<div class="name-melhr"> </div>
</div>

<div class="box-ofert"> 
	<div class="bxofert1"> 
		<div class="bxofert12"> 
			<p style=" margin-top:8px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#09C; font-family: 'Open Sans', sans-serif;"> <strong>Ofertas Nacionais</strong></p>
		</div>


	<div class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/ofertas/1.jpg">
		</div>
		<div class="bxg-cont"> 
			<div class="titul-ofer"> 
				<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#39C;"> <strong>Pizzarias Pacífico</strong></p>
			</div>
			<div class="titul-ofer2"> 
				<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">Tudo com 50% de Desconto. <br> As Melhores Pizzas e o melhor Rodizio você só encontra aqui.</p>
			</div>
		</div> 

		<div class="ink-ofrt"> 
			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;"> 
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  <div class="vercupp2">
			</div> </a>
		</div>
	</div>

	<div style="margin-left:31px;" class="boxxs">
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/ofertas/2.jpg">
		</div>

		<div class="bxg-cont"> 

			<div class="titul-ofer"> 
				<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#39C;">
					<strong>Espaço Fitness</strong>
				</p>
			</div>

			<div class="titul-ofer2"> 
				<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">Tudo com 50% de Desconto. <br> As Melhores Pizzas e o melhor Rodizio você só encontra aqui.
				</p>
			</div>
		</div> 

		<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;"> 
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a> 
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#"> 
				<div class="vercupp2">
				</div> 
			</a>
		</div>
	</div>

		<div style="margin-left:31px;" class="boxxs">
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/ofertas/2.jpg">
		</div>

		<div class="bxg-cont"> 

			<div class="titul-ofer"> 
				<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#39C;">
					<strong>Espaço Fitness</strong>
				</p>
			</div>

			<div class="titul-ofer2"> 
				<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">Tudo com 50% de Desconto. <br> As Melhores Pizzas e o melhor Rodizio você só encontra aqui.
				</p>
			</div>
		</div> 

		<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;"> 
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a> 
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#"> 
				<div class="vercupp2">
				</div> 
			</a>
		</div>
	</div>
		<div style="margin-left:31px;" class="boxxs">
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/ofertas/2.jpg">
		</div>

		<div class="bxg-cont"> 

			<div class="titul-ofer"> 
				<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#39C;">
					<strong>Espaço Fitness</strong>
				</p>
			</div>

			<div class="titul-ofer2"> 
				<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">Tudo com 50% de Desconto. <br> As Melhores Pizzas e o melhor Rodizio você só encontra aqui.
				</p>
			</div>
		</div> 

		<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;"> 
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a> 
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#"> 
				<div class="vercupp2">
				</div> 
			</a>
		</div>
	</div>
	</div>
</div>

<div class="dics"> 
	<div class="bxofert1"> 
		<div class="bxofert12"> 
			<p style=" margin-top:8px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#F30; font-family: 'Open Sans', sans-serif;">
				<strong>Dicas InfoNegócio</strong>
			</p>
		</div>
	
	<div class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>

	<div style="margin-left:31px;" class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>
		<div style="margin-left:31px;" class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>
		<div style="margin-left:31px;" class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>


</div>	
</div>

<div class="dics"> 
	<div class="bxofert1"> 
		<div class="bxofert12"> 
			<p style=" margin-top:8px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#F30; font-family: 'Open Sans', sans-serif;">
				<strong>Dicas InfoNegócio</strong>
			</p>
		</div>
	
	<div class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>

	<div style="margin-left:31px;" class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>
		<div style="margin-left:31px;" class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>
		<div style="margin-left:31px;" class="boxxs"> 
		<div class="img-bxxss">
			<img style="background-repeat:no-repeat;" src="static/img/session/tur.jpg">
		</div>
		
			<div class="bxg-cont"> 
				<div class="titul-ofer"> 
					<p style="font-family: 'Open Sans', sans-serif; font-size:14px; margin-top:1px; margin-left:10px; color:#F90;">
						<strong>Guia de Turismo</strong>
					</p>
				</div>

				<div class="titul-ofer2"> 
					<p style="font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:10px; color:#999;">
						Conheça o que o Brasil tem de melhor, descubra o Brasil em nosso guia.
					</p>
				</div>
			</div> 

			<div class="ink-ofrt"> 

			<div class="vercupp"> 
				<p style="font-family: 'Exo', sans-serif; font-size:16px; margin-left:50px; color:#FFF; margin-top:8px;">
					<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">  Ver Oferta </a>
				</p>
			</div>

			<a title="Ver Oferta" style="text-decoration:none; color:#FFF;" href="#">
				<div class="vercupp2">
				</div> 
			</a>



			</div>

		</div>


</div>	
</div>

{% endblock conteudo %}