{% load staticfiles %}

<html>
<head>
	<title>Info-Negócio Brasil </title>
	{% block css %}
		<link rel="stylesheet" type="text/css" href={% static "css/anuncios.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap-theme.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/bootmenu.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/filtro-client.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/filtro.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/master.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/cadastro.css" %}>
	{% endblock css %}

	{% block js %}
		<script type="text/javascript" src={% static "js/jquery-1.11.2.min.js" %}></script>
		<script type="text/javascript" src={% static "js/jquery-ui.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "js/fb.js" %}></script>
	{% endblock js %}
</head>
<body>

	<div class="site">
		<div class="header-top">
			
			<a  href="/"> <div class="logotype"> </div> </a>

			<div class="menu-head-right"> 
				<div class="icon-bnc"> </div>
				<div class="loginmenu"> 
					<p style="margin-top:5px;"> <strong> <a title="Acesse sua Conta" href="#">Fazer Login </a></strong></p>
				</div>

				<div class="menu-cadast"> 
					<p style="margin-top:5px; text-align:center;"> <strong> <a title="Cadastre Seu Negócio" href="/cadastrar_usuario">Cadastre-se </a></strong></p>
				</div>
			</div>

		</div>
	{% block cabecalho %}{% endblock cabecalho %}

	{% block conteudo %}{% endblock conteudo %}

	<div id="fb-root"></div>
	<div class="fb-comments" data-href="https://www.facebook.com/Infonegociobrasil" data-numposts="5"></div>
	</div>

{% block rodape %}
	{% include "rodape.html" %}
{% endblock rodape %}
</body>
</html>