{% load staticfiles %}
<html>
<head>
	<title>Info-Negócio Brasil </title>
	{% block css %}
		<link rel="stylesheet" type="text/css" href={% static "css/anuncios.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap-theme.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/bootmenu.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/filtro-client.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/filtro.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/master.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/cadastro.css" %}>
	{% endblock css %}

	{% block js %}
		<script type="text/javascript" src={% static "js/jquery-1.11.2.min.js" %}></script>
		<script type="text/javascript" src={% static "js/jquery-ui.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
	{% endblock js %}

</head>
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<body>

<div class="head-tp"> 
	<div class="amaread">
		<a href="/"> <div class="logotype"> </div> </a> 
			<div class="menu-head-right"> 
				<div class="icon-bnc">

				</div>
				<div class="loginmenu"> 
					<p style="margin-top:5px;">
						<strong><a title="Acesse sua Conta" href="#">Fazer Login </a></strong>
					</p>
				</div>

				<div class="menu-cadast"> 
					<p style="margin-top:5px; text-align:center;">
						<strong><a title="Cadastre Seu Negócio" href="/cadastrar_usuario">Cadastre-se </a></strong>
					</p>
				</div>
			</div>

		<div style="margin-top:3px; height:50px; " class="menutest"> 
			<nav style="background-image:url(/static/img/ssd2.png);" class="navbar navbar-default">
				<div  class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
	
	
				<div  class="collapse navbar-collapse js-navbar-collapse">
		
		
		
					<div  class="seachbar"> <!-- BARRA DE BUSCA -->
						<form method="get" id="search" action="#">
							<input type="text" class="search" value="Buscar por Palavra-Chave" onblur="if(this.value == '') { this.value = 'Type and hit enter'; }" onfocus="if(this.value == 'Type and hit enter') { this.value = ''; }" name="s">
							<button type="submit">Submit</button>
						</form>
					</div> <!-- FIM BARRA DE BUSCA -->
		
					<ul  class="nav navbar-nav"> 
						<li  class="dropdown mega-dropdown">
							<div  class="icn-ctg">
							</div>
							<a style="color:#FFF; margin-left:30px;" href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <span  class="btdsc"></span></a>
				
							<ul class="dropdown-menu mega-dropdown-menu row">
								<li class="col-sm-3">
									<ul>
										<li style=" text-align:center;" class="dropdown-header">Em Destaque:</li>                            
										<div style=" text-align:center;" id="myCarousel" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner">						
											<div  class="item active"> <!-- OFERTA 1 -->
												<a href="#"><img src="/static/img/ofertas/oferta-menu/1.jpg" alt="product 1"></a>
												<h4><small>Pizzaria do Gordo</small></h4>
												<button class="btn btn-primary" type="button">Abrir Oferta</button>       
											</div> <!-- END OFERTA 1 -->
											<div class="item"> <!-- OFERTA 2 -->
												<a href="#"><img src="/static/img/ofertas/oferta-menu/2.jpg" alt="product 1"></a>
												<h4><small>Lojas Renner - Super Saldão de Final de Semana.</small></h4>
												<button class="btn btn-primary" type="button">Abrir Oferta</button>       
											</div> <!-- END OFERTA 2 -->
											<div class="item"> <!-- OFERTA 3 -->
												<a href="#"><img src="/static/img/ofertas/oferta-menu/3.jpg" alt="product 1"></a>
												<h4><small>Saldão Eletro - Pernambucanas.</small></h4>                                        
												<button class="btn btn-primary" type="button">Abrir Oferta</button>       
											</div> <!-- END OFERTA 3 -->
										</div><!-- End Carousel Inner -->
										</div><!-- /.carousel -->
										<li class="divider"></li>
										<li><a href="#">Ver Todas as Ofertas <span class="btdsc2"></span></a></li>
									</ul>
								</li>

								<li class="col-sm-3">
									<ul>
										<li class="dropdown-header">Categorias</li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/0.png);" class="icon-typecatego"> </div>  Academias <span style="color:#09C;"> (18) </span> </a></li>
								 		<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/1.png);" class="icon-typecatego"> </div>  Animais  <span style="color:#09C;"> (12) </span> </a></li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/2.png);" class="icon-typecatego"> </div>  Assistencias Tec.  <span style="color:#09C;"> (12) </span> </a></li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/3.png);" class="icon-typecatego"> </div>  Beleza/Estética  <span style="color:#09C;"> (42) </span> </a></li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/4.png);" class="icon-typecatego"> </div>  Bares e Botecos <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/5.png);" class="icon-typecatego"> </div>  Bêbês E Crianças <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/6.png);" class="icon-typecatego"> </div>  Comunicação <span style="color:#09C;"> (10) </span> </a></li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/7.png);" class="icon-typecatego"> </div>  Consultorias <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/8.png);" class="icon-typecatego"> </div>  Educação <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/9.png);" class="icon-typecatego"> </div>  Escritórios <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/10.png);" class="icon-typecatego"> </div>  Esportes <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/11.png);" class="icon-typecatego"> </div>  Festas/Eventos <span style="color:#09C;"> (18) </span> </a></li>
									</ul>
								</li>
								
								<li class="col-sm-3">
									<ul>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/12.png);" class="icon-typecatego"> </div>  Gráficas <span style="color:#09C;"> (18) </span> </a></li>							
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/18.png);" class="icon-typecatego"> </div>  Hoteis/Repouso <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/13.png);" class="icon-typecatego"> </div>  Hobbies <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/14.png);" class="icon-typecatego"> </div>  Imóveis <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/15.png);" class="icon-typecatego"> </div>  Informática <span style="color:#09C;"> (18) </span> </a></li> 				
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/16.png);" class="icon-typecatego"> </div>  Lazer <span style="color:#09C;"> (18) </span> </a></li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/19.png);" class="icon-typecatego"> </div>  Lanchonetes <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/17.png);" class="icon-typecatego"> </div>  Lojas e Varejo <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/2.png);" class="icon-typecatego"> </div>  Oficinas <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/19.png);" class="icon-typecatego"> </div>  Pizzarias <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/20.png);" class="icon-typecatego"> </div>  Restaurantes <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/2.png);" class="icon-typecatego"> </div>  Serviços <span style="color:#09C;"> (18) </span> </a></li> 
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/21.png);" class="icon-typecatego"> </div>  Saúde/Bem-Estar <span style="color:#09C;"> (98) </span> </a></li> 
									</ul>
								</li>
					
								<li class="col-sm-3">
									<ul>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/22.png);" class="icon-typecatego"> </div>  Transportes <span style="color:#09C;"> (98) </span> </a></li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/23.png);" class="icon-typecatego"> </div>  Turismo <span style="color:#09C;"> (98) </span> </a></li>
										<li> <a href="#"> <div style="background-image:url(/static/img/icns-categ/24.png);" class="icon-typecatego"> </div>  Todas Categorias  </a></li>
										<li class="divider"></li>
										<li class="dropdown-header">Siga o InfoNegócio</li>
										<form class="form" role="form">
											<div class="form-group">
												<label class="sr-only" for="email">Digite seu E-mail</label>
												<input type="email" class="form-control" id="email" placeholder="Digite seu E-mail">        
											</div>
											<button type="submit" class="btn btn-primary btn-block">Receber Notícias</button>
										</form>                                                       
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div><!-- /.nav-collapse -->
			</nav>	
		</div>
	</div>
</div>

<div class="site">
	{% block conteudo %}{% endblock conteudo %}
</div> <!-- FIM DIV SITE CONTEUDO -->

{% block rodape %}
	{% include "rodape.html" %}
{% endblock rodape %}
</body>
</html>