<div class="rodape"> 

	<div class="center-rodape"> 
	<div class="log-rodape"> 
		<div class="lgrodape"></div>

		<div class="icon-sociais"> 
			<a class='facebook box-iconsocial' title="Facebook" target="_blank" href="https://www.facebook.com/profile.php?id=276845852456924&fref=ts"></a>

			<a class="google box-iconsocial" title="Google+" target="_blank" href="#"></a>

			<a class="youtube box-iconsocial" title="Canal no Youtube" target="_blank" href="#"></a>
			<a class="instagram box-iconsocial" title="Instagram" target="_blank" href="#"></a>
		</div>

	</div>

	<div class="links-rodape"> 
	
		<a title="Título" href="#"> 
			<div class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px;  color:#999; margin-top:1px;">   O InfoNegócio </li>
			</div> 
		</a>
		
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Anuncie seu Negócio </li>
			</div> 
		</a>
		
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Planos para Empresas </li>
			</div> 
		</a>
		
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Dúvidas Gerais </li>
			</div>
		</a>
		
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;">Fale Conosco </li>
			</div>
		</a>
		
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;">Dúvidas Gerais </li>
			</div> 
		</a>
	
	</div>


	<div class="links-rodape"> 
	
		<a title="Título" href="#"> 
			<div class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px;  color:#999; margin-top:1px;"> O InfoNegócio </li>
			</div> 
		</a>
	
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Anuncie seu Negócio </li>
			</div> 
		</a>
	
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Planos para Empresas </li>
			</div>
		</a>
	
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Dúvidas Gerais </li>
			</div>
		</a>
	
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Fale Conosco </li>
			</div>
		</a>
	
		<a title="Título" href="#">
			<div style="margin-top:5px;" class="linkrdp"> 
				<li style="font-family: 'Exo', sans-serif; font-size:11px; color:#999; margin-top:1px;"> Dúvidas Gerais </li>
			</div>
		</a>
	
	</div>

	<div class="box-coment-rodape"> 
	
		<div class="fto"> 
			<div class="fto-dentro"> 
			<img style="width:55px; height:55px;"src="/static/img/user.jpg"> </div>
		</div>

		<div class="coment-rdp"> 
			<p style=" text-align:center; margin-top:1px; font-family:Arial, Helvetica, sans-serif; color:#999; font-size:12px; "> 
				<em>Ótima forma de anunciar, eu Ameiii, Recomendo muitisiiimo!!!</em>
			</p>
		</div>
		
			<div class="name-post">
			 	<p style=" text-align:center; margin-top:1px; font-family: 'Exo', sans-serif; color:#333; font-size:12px;"> Helena Maria </p>
			</div>
		</div>
	</div>
</div>