{% extends "base_cont.html" %}
{% load staticfiles %}
{% block conteudo %}

<!-- DIV SITE CONTEUDO -->
<div  class="separ-topo2"> </div>
	<div class="banner-cliente"> <!-- AQUI O CLIENTE MUDA O BANNER DO ANUNCIO DELE    --> 		
		<div class="bgform"> <!-- BG FORM    -->
			<div style="margin:auto;" class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<form role="form">
							<h2>Cadastre-se <small>e conheça o nosso serviço, é gratuito.</small></h2>
							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Nome" tabindex="1">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Sobre Nome" tabindex="2">
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Nome de Usuário" tabindex="3">
							</div>
							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Seu E-mail" tabindex="4">
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Senha" tabindex="5">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
										<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirme a Senha" tabindex="6">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 col-sm-3 col-md-3">
									<span class="button-checkbox">
										<button type="button" class="btn" data-color="info" tabindex="7">Eu Aceito</button>
										<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
									</span>
								</div>
								<div class="col-xs-8 col-sm-9 col-md-9">Atenção: Clicando em <strong class="label label-primary">Registrar</strong>, você está concordando com nosso <a href="#" data-toggle="modal" data-target="#t_and_c_m">Termos de Uso.</a> 
								</div>
							</div>	
							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
								<div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>    
	</div> <!-- FIM BANNER CLIENTE    -->
		
{% endblock conteudo %}
